
body{
	margin: 0;
	
	font-family: 'IBM Plex Serif', serif;
}





hr{
margin: 0;
/*margin-bottom: 10px;
border-color: black;*/
}





.header{
	width: 100%;
	height:	90px;
	background-color: #3a3d40;
	border-bottom: 4px solid #4a4d50;
	padding: 0 10%;
	box-sizing: border-box;
	line-height: 90px;

}
.logo-box{
	float: left;
	position: fixed;
	margin-left: 73px;

}
.logo-box img{
	vertical-align: middle;
	filter: sepia(100%) contrast(40%);

	

}
.nav-bar{
	float: right;
	display: flex;
	border-left: 1px solid #292c2d;
	border-right: 1px solid #424547;
	margin-right: 73px;
}

.nav-link{
	display: inline-block;
	height: 85px;
	color: #d4d4d4;
	text-decoration: none;
	text-transform: uppercase; /*с большой буквы все*/
	font-weight: 600;
	padding: 0 14px;
	border-right: 1px solid #292c2d;
	border-left: 1px solid #424547;
	padding: 10px 14px 0 14px;
	box-sizing: border-box;
	transition: .3s linear color, .3s linear background;


}

.nav-link:hover	{
	border-color: #292c2d;
	background-color: #35373a;
	color: #7a9cb2;


}

.nav-link:active{
	border-color: #35373a;
	color: ##7a9cb2;
}


.wrapper{
	width: 100%;
	max-width:1366px;
	min-width: 320px;
	margin: 0 auto;
	
}


/*main content*/

.slider{
	width: 100%;
	height: 600px;
	margin-top: 50px;
	padding-bottom: 50px;
}

.arrow{
	position: relative;

}

.arrow  img{
	width: 100%;
}

.arrow::before{
	content: "←";
	color: yellow;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: rgb(58,61,64);
	position: absolute;	
	left: 10px;
	text-align: center;
	line-height: 27px;
	margin-top: 300px;
	margin-left: 30px;
	transition: .3s linear all;
	/*top: calc(50% - 15px);*/

}

.arrow::after{
	content: "→";
	color: grey;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: rgb(58,61,64);
	position: absolute;		
	right: 10px;
	text-align: center;
	line-height: 27px;
	margin-top: 300px;
	margin-right: 30px;
	transition: .3s linear all;
	/*top: calc(50% - 15px);*/

}

.arrow:hover::before{
	background-color: black;
    color: yellow;
	cursor: pointer;
	transform: scale(1.5);

}

.arrow:hover::after{
	background-color: black;
    color: yellow;
	cursor: pointer;
	transform: scale(1.5);

}


/*our seervices */

.section-header{
	font-size: 30px;
	font-weight: bold;
	color: #555;
	text-align: center;
	margin-bottom: 20px;

}

.subheader{
	columns: #555;
	font-size: 20px;
	text-align: center;
	
}
#subheader-service{
	margin: 0 auto;
	padding-bottom: 40px;
}

section{
	margin-top: 50px;
}

.tabs{
	width: 100%;

}

.tabs-options{
	width: 100%;
	display: flex;
	justify-content: center;
	border-bottom: 1px solid #c5c5c5;
	
}


.tabs-options > div{
	width: 120px;
	height: 34px;
	border: 1px solid #c5c5c5;
	text-align: center;
	line-height: 34px;
	color: #555;
	font-size: 13px;
	border-bottom: none;
	border-color: #f8f8f8;
	cursor: pointer;
}

.tabs-options > div:first-child ~ div{
	border:1px solid #c5c5c5;
	border-left: none;
	border-bottom:none;
}

.tabs-options > .active-tab{
	color: #6699bb;
	background-color: #fdfdfd;
	border-bottom: 2px solid #fff;
	margin-bottom: -2px;
}


.tabs-content{
	margin-top: 30px;
	width: 100%;
	
}


.tab-1 {
	width: 100%;
	display: flex;
	justify-content: space-between;

}
.tab-1 img{
	width: 47.5%;
	height: 400px;
	
}

.tab-1 > div{
	width: 57%;
	padding-left:30px;
}

.headre-regular{
	font-size: 17px;
	margin: 0 0 15px 0;
	color: #555555
}


div.separator-line{
	width: 100%;
	height: 3px;
	margin: 50px 0;
	background-image: url(..//img/line.png);
	background-repeat: repeat-x;

}


.tab-1 ul{
	list-style-type: none;
	margin: 0 auto;
}


.tab-1 ul li {
	position: relative;
	margin: 7px 0;
}

.tab-1 > div p:nth-of-type(2){
	margin: 30px 0;

}

.tab-1 ul li:before{
	position: absolute;
	content: '';
	width: 12px;
	height: 10px;
	background-image: url(..//img/checkicons.png);
	background-size: cover;
	background-repeat: no-repeat;
	left: -40px;
	top: 7px;
}
.text-regular{
	font-size: 17px;
	color: #555;
	margin: 7px 0;
	
}


.tab-1 ul p{
	text-indent: -1em;
}



/*LATEST STAFF*/

.our-projects-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}
.our-projects-container img {
	width: 33%;
	margin-bottom: 7px;
}




/*LATEST BLOCK*/

.block-content{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}

.post-container{
	width: 48%;
	display: flex;
	justify-content: space-between;
	/*align-items: center;*/
	margin-bottom: 40px;


}

.post-date{
	width: 50px;
	height: 50px;
	background-color: #ececec;
	border-radius: 50%;
	color: #555;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	line-height: 18px;
}
.post-date .post-day{
	font-size: 18px;
	margin: 0 auto;


}

.post-date .post-month{
	font-size: 13px;
	margin: 0 auto;
	text-transform: uppercase;

}
.post-content{

	width: calc(100% - 65px);
}
.post-info{
	color: #6b99b6
}

.post-info > a{
	color: #6b99b6;
	text-decoration: none;
	font-size: 11px;
	transition: .3s linear all;


}
.post-info > a:hover{
	color: #6b99b6;
	font-size: 15px;
	font-weight: bold;


}
.customers-img-box{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 40px;
}


/*LOCATION*/

.location-section > iframe{
	width: 100%;
	
}
.location-section h3{
	text-align: center;

}

/*ФУТЕР*/
/*div.footer-column:nth-child(3) > p:nth-child(2){
	width: 215px;
	height: 110px;
}


div.footer-column:nth-child(3) > p:nth-child(3){
	width: 202px;
	height: 60px;
	margin-top: 40px;

}*/







.footer{
	background-color: #3a3d40;
	

}


.footer-content{
	display: flex;	
	justify-content: space-between;
	margin-bottom: 40px;


}

.footer-column{
	width: 24%;
	padding-top: 10px;


}

.footer-header{
	color: #b6b7b8;
	font-size: 14px;
	text-transform: uppercase;
}

.posts-column {
	list-style-type: none;
	margin: 0;
	padding: 0;



}

.text-regular_light{
	font-size: 13px;
	color: #bfbfbf;
	
	



}
.footer-post_date{
	font-size: 13px;
	color: #899096;

}

.twitter-box{
	list-style-type: none;
	position: relative;
	text-indent: 2em;
	padding-left: 0;
	

}

.twitter-box li:nth-child(odd):before{
	content:  " ";
	background-image: url(../img/twiitericon.png);
	position: absolute;
	background-size: cover;
	background-repeat: no-repeat;
	width: 26px;
	height: 19px;
	left: -3px;




}

.twitter-box a{
	color: #7ea1b7;
	text-decoration: none;

}
.twitter-box a:hover{
	color: #6b99b6;
	font-size: 17px;
	font-weight: bold;
}



/*FORMA*/

/*.submit{
	border:1px solid #2f3235;
	background-color: #6e8c9f;
	color: #fff;
	width: 110px;
	height: 30px;
	padding: 0;
	margin-top: 10px;
font-family: 

}



.footer-input{
	width: 220px;
	margin-bottom: 10px;
	line-height: 35px;
	background-color: #282b2d;
	border:none;


}

textarea{
	resize: none;
	background-color: #282b2d;
	border:none;
}*/

form.footer-column{
	min-width: 220px;
	

}

.footer-input{
	width: 100%;
	height: 35px;
	background-color: #282b2d;
	border: none;
	outline: none;
	margin-bottom: 10px;
	padding: 0 10px;
	box-sizing: border-box;
	color: #afafaf;


}

.footer-input::placeholder{
	color: #afafaf;
}



textarea[name='footer-textarea']{
	width: 100%;
	height: 140px;
	resize: none;
	outline: none;
	background-color: #282b2d;
	border: none;
	margin-bottom: 10px;
	padding: 0 10px;
	box-sizing: border-box;
	color: #afafaf ;

}

.submit{
	width: 110px;
	height: 30px;
	background-color: #6e8c9f;
	color: #fff;
	font-size: 13px;
	font-family: 'DroidSans';
	border-radius: 2px ;
	border:1px solid #2f3235;
	cursor: pointer;
	outline: none;
	background-image: linear-gradient(#708ea1 50%, #5d7b8e 50% 100%);



}

/*podval*/

.footer-underbox{
	width: 100%;
	height: 70px;
	background-color: #2f3235;
	border-top: 1px solid #24272a;
	display: flex;
	justify-content: space-between;
	
}

.copyright{
	color: #9b9c9c;
	font-size: 13px;


}

.copyright a{
	color: #708da0;
	text-decoration: none;
}

.social-box{
	margin-right: 73px;

}
.footer-underbox .wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.separator-line_light{
	width: 100%;
	height: 3px;
	background-image: url(..//img/line.png);
	background-repeat: repeat-x;
	margin: 20px 0;

}


